@charset Shift_JIS;

* {
margin:0;
padding:0;
}

body {
background-image:url(docs/back.gif);
color:#000000;
}

div#CONTAINER {
background-color:#ffffff;
line-height:1.5em;
margin:0 auto;
max-width:800px;
padding:5px 2em;
position:relative;
width:90%;
}

h1 {
border-left:10px solid #fc660f;
color:#504030;
margin:1em 0 10px;
padding-left:5px;
}

h2 {
clear:both;
color:#ff670f;
counter-increment:chapter;
counter-reset:section;
margin:2em 0 1em;
}

h3 {
border-bottom:2px solid #ff9933;
clear:both;
counter-increment:section;
margin:2em 0 5px;
padding:0 0 2px;
}

h2:before {
content:counter(chapter) ".";
}

h3:before {
content:counter(chapter) "." counter(section) ".";
}

p {
text-indent:1em;
}

p,dl,ol,ul,pre,blockquote {
margin:0 0 1em 1em;
}

p#COPY {
font-size:80%;
margin:0 0 1em;
text-indent:0;
}

hr {
padding:0 auto;
}

samp,kbd,code {
color:#ff9933;
display:inline;
font-family:monospace;
font-weight:bold;
padding:3px 4px;
white-space:pre;
}

pre {
color:#6c00c8;
display:block;
font-family:monospace;
font-size:90%;
font-weight:bold;
line-height:180%;
padding:3px 4px;
white-space:pre;
}

blockquote,pre.quote {
background-color:#ffffff;
border:1px solid #ff670f;
padding:10px;
white-space:pre;
}

em {
color:#ff0000;
font-style:normal;
font-weight:normal;
}

span.new {
color:#ff0000;
}

img {
border:0;
}

img#ONIBTN {
bottom:3px;
position:absolute;
right:3px;
}

a {
color:#0000cc;
text-decoration:none;
}

a:link {
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

a.foot {
color:#fc660f;
font-weight:bold;
}

ol {
counter-reset:item;
}

ul li {
line-height:1.5em;
margin-left:3em;
}

ol li:before {
content:counters(item,".") ". ";
counter-increment:item;
}

ol li {
list-style-type:decimal;
margin-left:3em;
}

dt {
color:#ff9933;
font-weight:bold;
}

dd {
margin-bottom:1em;
}

ul#FOOTER {
list-style-type:none!important;
margin:2em 0 0!important;
}

ul#FOOTER li {
margin:0!important;
}

table {
border-collapse:collapse;
caption-side:top;
empty-cells:show;
margin:0 auto 1em;
}

caption {
font-weight:bold;
margin:0 auto;
text-align:center;
}

th {
border-color:#ffffff;
border-style:solid;
border-width:1px 1px 0;
padding:8px;
text-align:center;
}

td {
font-size:90%;
padding-top:1em;
text-align:left;
}

table.pluginlist th {
background-color:#ff670f;
border-color:#ffffff;
color:#ffffff;
}

table.pluginlist td {
background-color:#b4b4b4;
color:#ffffff;
}

table.keywordlist th {
background-color:#ccffff;
border:solid 1px #99cccc;
padding:4px;
}

table.keywordlist td {
background-color:#ffffff;
border:solid 1px #99cccc;
color:#000000;
padding:4px;
}

table.orange {
border:none;
color:#ffffff;
}

.orange td,.orange th {
background-color:#ff670f;
border-color:#ffffff;
border-style:solid;
border-width:1px 1px 0;
padding:8px;
}

.glay td,.glay th {
background-color:#cccccc;
border:solid 1px #ff670f;
color:#ffffff;
}

.glay td {
text-align:center;
}

.white td,.white th {
background-color:#ffffff;
border:solid 1px #ff670f;
color:#323232;
padding:2px;
}

.aqua td {
background-color:#ccffff;
border:solid 1px #99cccc;
color:#323232;
padding:4px;
text-align:center;
}

.water td {
background-color:#ffffff;
border:solid 1px #99cccc;
color:#323232;
padding:4px;
text-align:left;
}

table.charcoal {
border-width:0;
}

.charcoal td {
background-color:#b4b4b4;
border-color:#ffffff;
border-style:solid;
border-width:0 1px 1px;
color:#ffffff;
font-size:.9em;
line-height:1.5em;
margin:0;
padding:12px;
}

.orange a,.orange a:link {
color:#323232;
}

a.head,a.head:link,a.head:hover {
color:#323232;
text-decoration:none;
}

a.foot:link,a.foot:hover {
color:#ff670f;
font-weight:bold;
}